

* {box-sizing: border-box;}
body { 
    margin: 0;
    
  }
  #content{
    margin-top:6.5rem;
    font-family: Coolvetica;
    font-style: normal;
     text-align: center;
  }
#navbar {
    overflow: hidden;
    background-color: #03A6BE;
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  #btn-signin{
    background-color: #68CACD;
    font-family: Coolvetica;
    font-style: normal;
    
  }
  #navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
   
  }
 /* #logo{
    max-width: 100%;
  height: auto;
  }*/
  #navbar #logo {
    transition: 0.4s;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
   #txt-user, #txt-email, #txt-password{
    background-color: #CAFE1E;
    margin: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border-width: 0px;
    text-align: center;
   }
 #btn-init-google{
    background-color: #DF5039;
    margin: 1rem;
   padding: 0.5rem;
   padding-left: 3rem;
   padding-right: 3rem;
   border-radius: 0.5rem;
    border-width: 0px;
    font-family: Coolvetica;
    font-size: 1.3rem;

 }
  #btn-preferences, #btn-register,#btn-enter,#btn-dashboard{
    background-color: #F13A64;
    margin: 1rem;
   padding: 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
   border-radius: 0.5rem;
    border-width: 0px;
    font-family: Coolvetica;
    font-size: 1.3rem;
  }
 h1{
     color: white;
     font-size: 3rem;
 }
 h2{
    font-size: 3rem;
 }
 h5{
    color: white;
    font-size: 1.5rem;
 }
 .register-text{
     width: 95%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }
#title-preferences p {
    color: white;
    font-size: 3rem;
}

#companies p, #artist p{
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}
#companies {
    margin-top: -2rem;
}
/* DROPDOWN */
.dropbtn {
  background-color: #FFC700;
  color: white;
  padding: 1.5rem;
  font-size: 16px;
  border-radius: 20rem;
  border-width: 0px;
  cursor: pointer;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  float: left;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown-content a {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}